---
function sort(arg0: (a: any, b: any) => number) {
throw new Error("Function not implemented.");
}

import PageTemplate from "../../components/PageTemplate.astro"
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
  posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

---

<PageTemplate title = "blog">
  <h1>blog</h1>
   {posts.map(post => (    
      <ul>
         <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </ul>
    ))}


</PageTemplate>



  

