
 [data-theme = "light"] {
    --colour-bg: #fcfbf2; /*background colour var*/
		--colour: rgb(107, 107, 107);  /*text colour var*/
		--colour-nav: #f1eee1;  /*Navbar background colour var*/
    --colour-border: #c6c7bd; /* border colour for centre box */

       }

    [data-theme = "dark"] {
    --colour-bg: #1f1f1f;
		--colour: rgb(218, 218, 218);
		--colour-nav: #3f3f3f;
    --colour-border: #5a5a5a;
    }

body {
	margin: 0;
	font-family: "Web IBM VGA 8x16", monospace; 
	background-color: var(--colour-bg);
	color: var(--colour)
	
}
a {
        color: var(--colour);
    }
/* a:link {
  color:  rgb(107, 107, 107);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(107, 107, 107);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:  rgb(170, 170, 170);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(107, 107, 107);
  background-color: transparent;
  text-decoration: underline;
} */


.pixelated {
  image-rendering: pixelated;
}

@font-face {
			font-family: 'Web IBM VGA 8x16';
			font-style: normal;
			font-weight: 400;
			src: url(/fonts/WebPlus_IBM_VGA_8x16.woff) format('woff');
      font-size: 1.4;
		}
	.custom-font     { font-family: 'Web IBM VGA 8x16';
 }

