* {
  background-color: #1b1b1b;
  color: #d6d6d6;
}


@font-face {
			font-family: 'Web IBM VGA 8x16';
			font-style: normal;
			font-weight: 400;
			src: url(.//fonts/WebPlus_IBM_VGA_8x16.woff) format('woff');
		}
	.custom-font     { font-family: 'Web IBM VGA 8x16';
 }


.menu {
  font-family:'Cousine', Courier, monospace
}		