---
import "../styles/global.css";
import PageTemplate from "../components/PageTemplate.astro"
---

<PageTemplate title = "about">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat at eros sed euismod. Vivamus sapien nibh, cursus ut tristique id, pretium non lorem. Nunc vel elit fringilla, cursus eros vel, laoreet turpis. Etiam finibus dui a lacus porta malesuada. Praesent eget nisl mattis, ullamcorper ligula nec, commodo tellus. Cras eu libero eu lectus pulvinar egestas et sit amet velit. Duis sollicitudin nibh sed felis sodales tempor. Mauris aliquam ornare urna quis aliquam. Aliquam sollicitudin augue vel tincidunt tincidunt. Sed dapibus elit quis turpis porttitor, id tristique urna laoreet.</p>
</PageTemplate>
