---

import PageTemplate from "../components/PageTemplate.astro";
---

<PageTemplate title = "about">
    <style>
        .container {
            display: flex;
            gap: 20px;
        }
        .column {
            flex: 1;
    }
        .ul {
            padding-top: 20px;
        }
        p {
            font-size: 1.2rem;
        }
        ul {
            font-size: 1.2rem;
        }
    </style>
<p>Hello! I'm John, a 20-something programmer and software developer based in the UK. My main prgramming interests are back-end development, load-balancing, simulations and system design. </p>

    <div class = "container">
        <div class="column">
            <h2>Things I like</h2>
            <ul>
                <li>C#</li><li>Python</li><li>Dwarf Fortress</li>            
            </ul>
        </div>

        <div class="column">
            <h2>Things I don't like</h2>
             <ul>
                <li>Javascript</li>              
            </ul>
        </div>
    </div>
</PageTemplate>
