---
import "../styles/global.css";
import PageTemplate from "../components/PageTemplate.astro"
---

<PageTemplate title = "about">
<p>Hello! I'm John, a 20-something programmer and software developer based in the UK. </p>
</PageTemplate>
