---
import "../styles/global.css";
import PageTemplate from "../components/PageTemplate.astro"

---

<PageTemplate title = "blog">
<h1>Blog</h1>
<li>
    <a href = "/blog/1">Blogpost numero 1</a>
</li>
</PageTemplate>
