---
import PageTemplate from "../components/PageTemplate.astro"
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<PageTemplate title = "blog">


    <h1>blog</h1>
    <ul>
      {posts.map((post: { id: any; data: { title: unknown; }; }) => (
        <li>
          
          <a href={`src/content/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))}
    </ul>




  
</PageTemplate>
