---

import PageTemplate from "../components/PageTemplate.astro"


---
<PageTemplate title = "Home">
  <style>
     .centre-box {
        width: 30vh;
        height: 20vh;
        background-color: rgb(73, 73, 73);
        border: 2px solid #707070;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        text-align: center;
        font-family:'Cousine', Courier, monospace;
       }       
  </style>
  <p></p>
   <div class="centre-box">
              
                <h1>boxtitle</h1>
            </div>
   <div class="88x31s">
      <a></a>
         <img src = "public/8831s/ffxiv.gif">
   </div>
</PageTemplate>