---

import PageTemplate from "../components/PageTemplate.astro"


---
<PageTemplate title = "Home">
  <style>
    

  </style>
  
   <div class="centre-text" style="justify-content: center; align-items: center; display:flex; flex-direction: column;">
              
      <h1>aura.dev</h1>
      <img src = "/df.png">
   </div>
   <div class="images">
         
         <img src = "/8831s/aura.png">
         <a href="https://linuxmint.com/"><img src ="/8831s/linuxmint.gif"></a>
         <a href="https://eu.finalfantasyxiv.com/"><img src ="/8831s/ffxiv.gif"></a>
         
         <img src ="/8831s/tt.png">
         <img src ="/8831s/hl.png">
         
   </div>
</PageTemplate>