---

---
<script>



</script>
<style> 
    button {
        width: 25px;
        justify-content: left;
        background-color: var(--colour-bg);
    }
   
</style>

<button 
    type="button"
    theme-toggle
    aria-label = "☼"
    >☼</button>
