---
import ChangeTheme from "./ChangeTheme.astro";


---
<style>
    .navigation {
        padding-left: 1vh;
        padding-right: 2vh;
        display: flex;
        justify-content: space-between;
        background-color: var(--colour-nav);
        
        height: 30px;
        font-size: 1rem;
        align-items: center;
    }
    a {
        color: var(--colour);
    }
    
    
</style>
<div class = "navigation">
    <div class = "left-items">
        <a href="/">home/</a>
        <a href="/about">about/</a>
        <a href="/blog/blog">blog/</a>
    </div>   

    <div class = "right-items">
        <ChangeTheme/>
    </div>
</div>